.button{
    --size: 50px;
    width: var(--size);
    height: var(--size);
    display: grid;
    place-items: center;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #ffc300;
    border-radius: 10px;
}