.wraper{
    margin-block-end: 20px;
}
.playground{
    min-height: 300px;
    padding: 20px;
    display: grid;
    place-items: center;
    gap: 20px;
    flex-wrap: wrap;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    border-radius: 10px;
    background-color: #f1faee;
}

@media (max-width: 1100px) {
    .playground{
        max-width: 600px;
        overflow: hidden;
        overflow-x: auto;
    }
}

.playground__container{
    border: 3px dashed #f74572;
    padding: 30px;
}

.content__seclector{
    background-color: #e5e5f7;
    padding: 10px;
    margin-block-end: 20px;
}


.content__title{
    margin-block-end: 20px;
    background-color: #000814;
    font-family: "Roboto Mono", monospace;
    color: #e5e5f7;
    font-size: clamp(20px, 5vw + 1rem, 40px);
    border-left: 4px solid #ffbe0b;
    border-top: 2px solid #ffbe0b;
    padding-top: 0.2em;
    padding-left: 0.3em;
    margin: 3rem 0 1rem;
}

.description{
    border-left: 3px solid#000814;
    padding-inline-start: 10px;
    position: relative;
    margin-block-end: 10px;
    border-left: 5px solid #d62828;
    margin-inline-start: 2rem;
    background-color: #000814;
    font-family: "Roboto Mono", monospace;
    color: #e5e5f7;
    font-size: clamp(20px, 5vw + 1rem, 27px);
}

.description::before{
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    height: 1rem;
    width: 3rem;
    background-color: #d62828;
    
    clip-path: polygon(
      0 0,
      calc(100% - 0.25rem) 0,
      calc(100% - 0.25rem) 0.25rem,
      100% 0.25rem,
      100% calc(100% - 0.25rem),
      1rem calc(100% - 0.25rem),
      1rem 100%,
      0.25rem 100%,
      0.25rem calc(100% - 0.25rem),
      0 calc(100% - 0.25rem)
    );
}

.content__seclector{
    background-color: #000814;
    & span{
        color: #e5e5f7;
        font-family: "Roboto Mono", monospace;
    }
}


.code{
    border: 1px dashed #000814;
    padding: 0 0.25rem;
    font-weight: bold;
    box-shadow: 0 0 0 1px var(--mono-main);
    transform: scaleX(0.5);
    font-family: "Roboto Mono", monospace;
    color: #e5e5f7;
    font-size: clamp(20px, 5vw + 1rem, 2
    0px);
}