---
import Container from "./Container.astro";
import Flag from "./Flag";
---

<header class="header">
  <Container>
    <div class="header__box">
      <Flag />
    </div>
  </Container>
</header>

<style>
  .header {
    flex-shrink: 0;
    padding-block: 20px;
    box-shadow:
      0 1px 1px rgba(0, 0, 0, 0.15),
      0 2px 2px rgba(0, 0, 0, 0.15),
      0 4px 4px rgba(0, 0, 0, 0.15),
      0 8px 8px rgba(0, 0, 0, 0.15);
  }
</style>
